<link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/lumen/bulmaswatch.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

    <section class="hero is-info is-medium is-bold">
      <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="course">
      <h1 class="title is-1">ADMIN CP</h1>
    </a>

    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active" routerLink="course">
                  Home
                </a>
                
                <span class="navbar-item">
                  <a class="button is-white is-outlined is-small" href="../login.html">
                    <span>Logout</span>
                  </a>
                </span>
              </div>
            </div>
        </nav>
      </div>

    </section>